.hero {
    
    height:400px;
    max-width: 100%x;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero/hero-480@1x.jpg");

    
	@media (min-device-pixel-ratio: 2) and (max-width: 767px),
		(min-resolution: 192dpi) and (max-width: 767px),
		(min-resolution: 2dppx) and (max-width: 767px) {
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero-480@2x.jpg");
	}

	@media screen and(min-width: 768px) {
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero-768@1x.jpg");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 768px),
		(min-resolution: 192dpi) and (min-width: 768px),
		(min-resolution: 2dppx) and (min-width: 768px) {
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero-768@2x.jpg");
	}

	@media screen and(min-width: 1200px) {
    height:600px;
    padding-top: 200px;
    padding-bottom: 200px;
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero-1200@1x.jpg");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
		(min-resolution: 192dpi) and (min-width: 1200px),
		(min-resolution: 2dppx) and (min-width: 1200px) {
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero-1200@2x.jpg");
	}
  }

  .hero__title {
    max-width: 360px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;  
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and(min-width: 1200px){
      max-width: 696px;
      font-size: 44px;
    line-height: 1.36;
    }
  }
  .modal-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 24px;
    border: 1px solid transparent;
    margin: auto;

    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
    background-color:#188CE8;
    font-family: var(--primary-font-family);
    @media screen and(min-width: 1200px) {
      padding: 10px 32px;
    }
  
  }
    
  }

  

  
 