.portfolio-btn {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
    
  }

  .portfolio-btn__modal {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    margin: auto;

    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;  
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    background-color: #F5F4FA;

    transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  }
  .portfolio-btn__modal:hover,
  .portfolio-btn__modal:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }
 
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .portfolio-list__item {
    width: 370px;
    
    transition: box-shadow var(--transition-dur-and-func);
    
    &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
  }

  
  .portfolio-list__thumb {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 63px 24px;
    
    background: rgba(33, 150, 243, 0.9);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);

    transform: translateY(101%);

    transition: transform var(--transition-dur-and-func);

  .portfolio-list__item:hover & {
    transform: translateY(0);
  }
  }
  

  

  .portfolio-list__caption {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    width: 370px;
  }
  .portfolio-list__caption h3 {
    margin-bottom: 4px;
  }
  
  .portfolio-list__titel {
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);

  }
  .portfolio-list__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  